<tr id=<%= "horario_#{horario.id}" %>>
  <td><%= link_to horario.id, edit_horario_path(horario), :remote => true %></td>
  
  <td><%= horario.fecha %></td>
  <td><%= horario.hora  %></td>
  <td><%= horario.aula %></td>
  <td><%= horario.materia.nombre %></td>
  <td><%= horario.instructor.nombre %></td>
  <td><%= horario.curso.nombre %></td>

  <td>
    <%= link_to image_tag('Lupa.gif', :title => "mostrar"), horario, :remote => true, :class => 'btn btn-mini' %>
    <%= link_to image_tag( 'editar1.png', :title=>"editar"), edit_horario_path(horario), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to image_tag('destroy.gif',  :title=> "eliminar"), horario, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
        <%= link_to "pdf", horario_path(horario, :format => "pdf"), :class =>  'btn btn-mini 
        btn-inverse'%>
  </td>
</tr>

