<br>
<br>
<br>
 <center><h1>Cursos</h1></center>
   <%= form_tag request.path, :method => 'get' do %>
     Datos a Buscar:
   <div class="input-append">
     <%= search_field_tag :search, params[:search], options ={ :class=>"span2", :placeholder => "Curso, ficha"} %>
     <%= submit_tag "Consultar", :class => "btn btn-info", :nombre => nil %>
   </div>
    <p>numero de registros:
  <p><%= text_field_tag :registro, params[:registro], options={:class=>"span1"} %></p>
   <%= hidden_field_tag :direction, params[:direction] %>
 <%= hidden_field_tag :sort, params[:sort] %>
   <% end %>
<br />
<div class="row">
    <div class="span4"> 
</div>
 <div class="span6">
<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
    <tr>
    
    <th><%= sortable "nombre", "Nombre" %></th>
    <th><%= sortable "ficha", "Ficha" %></th>
    <th>Acciones</th>
    <th>Link estudiantes</th>
              
    </tr>
  </thead>
  <tbody>
     <%= render @cursos %>
  </tbody>
  <tfoot> 
    <tr>
    
      <td><%= link_to  image_tag('usuario.gif', :tile  => "Nuevo Curso"),  new_curso_path,  :remote => true %></td>
      
    </tr>
  </tfoot>
  <tfoot>
    <tr>
     <td>Total Cursos :<input type="text"  id="totalregs" class="span1" value="<%= @cursos.total_entries %>" readonly />
 </td>
    </tr>
  </tfoot>
</table>
</div>
<br />
<br />
<div align="center">
<%= will_paginate @cursos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' rescue nil %>
</div>

