<br>
<br>
<br>
 <center><h1>Estudiantes</h1></center>
   <%= form_tag request.path, :method => 'get' do %>
     Datos a Buscar:
   <div class="input-append">
     <%= search_field_tag :search, params[:search], options ={ :class=>"span2", :placeholder => "Estudiante, ficha"} %>
     <%= submit_tag "Consultar", :class => "btn btn-info", :nombre => nil %>
   </div>
    <p>numero de registros:
  <p><%= text_field_tag :registro, params[:registro], options={:class=>"span1"} %></p>
   <%= hidden_field_tag :direction, params[:direction] %>
 <%= hidden_field_tag :sort, params[:sort] %>
   <% end %>
<br />

      <table class="table table-hover table-bordered table-condensed pretty ">
        <thead>
        <tr>
  <th><%= sortable "id" %></th>
  <th><%= sortable "nombre","Nombre" %></th>
  <th><%= sortable "cedula","Cedula" %></th>
  <th><%= sortable "email", "Email" %></th>
  <th><%= sortable "direccion","Direccion" %></th>
  <th><%= sortable "fcha_nacimiento", "Fecha nacimiento" %></th>
  <th><%= sortable "Acciones" %></th>
</tr>
        </thead>
        <tbody>
          <%= render @estudiantes %>
        </tbody>
          <tfoot>
            <tr>
              <td><%= link_to image_tag('usuario.gif', :tile  => "Nuevo estudiante"), new_curso_estudiante_path, :remote => true  %> </td>
              <td><%= link_to "Atras", cursos_path , :class => 'btn btn-mini btn-info' %></td>
            </tr>
          </tfoot>
        <tfoot>
    <tr>
     <td>Total Estudiantes :<input type="text"  id="totalregs" class="span1" value="<%= @estudiantes.total_entries %>" readonly />
 </td>
    </tr>
  </tfoot>
      </table>
    </div>
  
  
    <div class="pagination">
    </ul>
    <%= will_paginate @estudiantes, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
    &raquo;' %>
  </ul>
  </div>
</div>
</div>





