<br>
<br>
<br>
<br>
<br>
<%= simple_form_for(@instructor, :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>

  <%= f.error_notification %>
 
  <%= f.input :nombre, :label => "Nombre" %>
  <%= f.input :cedula, :label => "cedula" %>
  <%= f.input :email, :label => "Email" %>
  <%= f.input :direccion, :label => "Direccion" %>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', instructores_path, :class => 'btn btn-small' %>
  </div>
	
	<div class="actions">
		    <%= f.submit %>
		    <%= f.file_field :imagen %>
    </div>
		  
<% end %>




