<br>
<br>
<br>
 <center><h1>Instructores</h1></center>
   <%= form_tag request.path, :method => 'get' do %>
     Datos a Buscar:
   <div class="input-append">
     <%= search_field_tag :search, params[:search], options ={ :class=>"span2", :placeholder => "Instructores, ficha"} %>
     <%= submit_tag "Consultar", :class => "btn btn-info", :nombre => nil %>
   </div>
   
<br />

<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
    <tr>
   
    <th><%= sortable "nombre", "Nombre" %></th>
    <th><%= sortable "cedula", "Cedula" %></th>
    <th><%= sortable "email", "Email" %></th>
    <th><%= sortable "direccion", "Direccion" %></th>
    <th><%= sortable "Acciones" %></th>           
    </tr>
  </tr>
  </thead>
  <tbody>
     <%= render @instructores %>
  </tbody>
   <tfoot>
    <tr>
      <td><%= link_to 'Nuevo instructores', new_instructor_path, :remote => true, :class => 'btn btn-primary' %></td>
    </tr>
  </tfoot>
</table>
<div align="center">
<%= will_paginate @instructores, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p>
Total maestros : <%= @instructores.total_entries %>
</p>
<hr>
Seleccione numero de registros por pagina:
<br>
<form id="myform" method='GET' action='maestros' >
  <select name='limit' onchange='actualizar();'>
    <option value = '2'></option>
    <option value = '2'>2</option>
    <option value = '4'>4</option>
    <option value = '6'>6</option>
  </select>
</form>

 <p>numero de registros:
  <p><%= text_field_tag :registro, params[:registro], options={:class=>"span1"} %></p>
   <%= hidden_field_tag :direction, params[:direction] %>
 <%= hidden_field_tag :sort, params[:sort] %>
   <% end %>